.jumbotron {
    text-align: center;
}

.form-group {
    width: 1050px;
    padding-top: 10px;
}

#inputbox {
    padding-bottom: 50px;
    padding-right: 200px;
    
}

#submit {
    margin-left: 25px;
}

